* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header_navigation img {
  width: 48px;
  height: 48px;
}

.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1640px;
  width: 100%;
  padding-top: 40px;
  margin: auto;
}

.header_navigation ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

.header_navigation ul li a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header_navigation ul li a:hover {
  font-size: 20px;
  text-decoration: underline;
}

.header_navigation button {
  border: none;
  padding: 13px 26px;
  border-radius: 12px;
  background-color: #29b24e;
  color: white;
  cursor: pointer;
}

.header_navigation button:hover {
  padding: 16px 32px;
}

.details {
  display: grid;
  grid-template-columns: 810px 786px;
  gap: 24px;
  justify-content: center;
  align-items: start;
  margin-top: 70px;
}

.details__media {
  width: 810px;
  height: 732px;
  border-radius: 20px;
  overflow: hidden;
  background: #b0b0b0;
  box-shadow: 0px 4px 18px rgba(194, 194, 194, 0.3);
}
.details__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.details__card {
  width: 786px;
  height: 732px;
  background: #f8f8f8;
  border-radius: 24px;
  box-shadow: 0px 4px 18px rgba(194, 194, 194, 0.3);
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.details__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  color: #6b7280;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 12px;
  line-height: 23px;
}
.badge {
  background: #22c55e;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 999px;
}

.details__title {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 24px;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
}

.details__loc {
  color: #6b7280;
  font-size: 13px;
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
}

.details__desc {
  max-width: 611px;
  width: 100%;
  height: 69px;
  opacity: 80%;
  color: #4b5563;
  line-height: 1.55;
  margin-top: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0px;
}

.details__tags {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 28px;
  align-items: center;
  border-top: 1px solid #eef2f7;
  border-bottom: 1px solid #eef2f7;
  padding: 14px 0;
  color: #374151;
  margin-top: 57px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0px;
}

.details__specs {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
  margin-top: 41px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.spec .label {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #9ca3af;
  margin-bottom: 4px;
}

.spec .value {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #111827;
}

.details__footer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eef2f7;
  padding-top: 16px;
  margin-left: 94px;
  margin-right: 66px;
}

.price {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.price .amount {
  color: #29b24e;
  font-weight: 800;
  font-size: 32px;
}

.actions {
  display: flex;
  gap: 12px;
}

.btn {
  height: 44px;
  padding: 0 18px;
  border-radius: 10px;
  border: 1px solid transparent;
  font-weight: 600;
  cursor: pointer;
}

.btn__messege {
  background: #fff;
  border-color: #29b24e;
  color: #29b24e;
}

.btn__messege:hover {
  width: 170px;
  height: 50px;
  background-color: rgb(47, 70, 38);
}

.btn__call {
  background: #29b24e;
  color: #fff;
}

.btn__call:hover {
  width: 70px;
  height: 50px;
  background-color: rgb(15, 136, 80);
}

.footer {
  background: #29b24e;
  color: #fff;
  border-radius: 12px;
  text-align: center;
  padding: 32px 140px;
  width: 100%;
  margin: 40px auto;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__nav,
.footer__social {
  list-style: none;
  display: flex;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.footer__nav a,
.footer__social a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer__nav a:hover,
.footer__social a:hover {
  text-decoration: underline;
}

.footer__email {
  font-size: 14px;
  font-weight: 500;
}

.footer hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin: 16px 0;
}

.footer__copy {
  font-size: 13px;
  opacity: 0.9;
}
